

$orange : #f2473f;
$couleur_bordure : #bababa;

body
{
	background: url('../img/bg.jpg');
	font-size: 14px;
 
	overflow-x: hidden;
}

.logo
{
	display: inline-block;
	width : 200px;
	margin-top: 20px;
}

#connection
{
	display: inline-block;
	background : black;
	float : right;
	vertical-align: top;

	border-radius : 0 0 10px 10px;

	color : white;

	padding: 5px 10px;

	font-size: 0.9em;
}

.nav
{
	background : black;

	margin: 0 -9999em;
	padding: 0 9999em;

	font-size: 1.2em;

	ul 
	{
		margin-bottom : 0;
	}

	li, a
	{
		color : white;
		padding: 5px 0;
	}

	.menu
	{
  		margin-right: 250px;
	}
	
	.search
	{
		float : right;
		vertical-align: top;

		width : 250px;

		text-align: right;

		.search-input
		{
			background : #222222;
			border : 1px solid #646464; 

			border-radius: 5px 0 0 5px;

			color : white;

			height : 25px;
			margin-top: 2px;

			width: 120px;
		}

		.search-submit
		{
			border : 1px solid #646464; 

			border-radius: 0 5px 5px 0;

			background : $orange;
			color : white;

			height : 29px;
			margin-top: 2px;
		}
	}
}

.main 
{
	width: 65%;
	float : left;

	h1
	{
		color : $orange;
		font-size: 1.2em;
		text-transform: uppercase;

		border-bottom : 1px solid $couleur_bordure;
	}

	.post
	{
		border-bottom : 1px solid $couleur_bordure;

		.wp-post-image
		{
			float: left;
			margin-right: 10px; 

			border: 3px solid #fff;
			box-shadow: 1px 1px 4px #c0c0c0;
		}

		h2
		{
			font-size: 1.2em;
			margin : 0;

			.jeu
			{
				font-style: italic;
			}
		}

		.date, .author, .category
		{
			font-size: 0.85em;
		}

		.comment
		{
			float : right;

			background : $orange;

			a 
			{
				color : white;
				padding : 5px 8px;
			}
		}

		.view-article
		{
			color : $orange;
		}

		.post-edit-link
		{
			font-size: 0.8em;
		}
	}
}

.sidebar
{
	float : left;
	vertical-align: top;
	margin-left: 5%;
	width: 30%;

	h3
	{
		color : $orange;
		font-size: 1.2em;
	}
}

.footer
{
	clear: both;

	border-top: 2px solid $orange;
	background : black;
	color : white;

	min-height : 300px;

	a 
	{
		color : $orange;
	}

	.wrapper-footer
	{
		max-width: 1280px;
		width: 95%;
		margin: 0 auto;
	}

}

/*NIVO SLIDER*/

.nivo-controlNav
{
	.nivo-control
	{
		margin: 0 5px;

		&.active img
		{
			border : 2px solid green;
			position : relative;
		}
	}
}

