/*Commande scss : sass --watch global.scss:../css/global.css*/
/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* COULEURS */
/* global box-sizing */
*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/* html element 62.5% font-size for REM use */
html {
  font-size: 62.5%; }

body {
  font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  background: url("../img/bg.jpg");
  font-size: 14px; }

/* clear */
.clear:before,
.clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

img {
  max-width: 100%;
  vertical-align: bottom; }

a {
  color: #444;
  text-decoration: none; }

a:hover {
  color: #444; }

a:focus {
  outline: 0; }

a:hover,
a:active {
  outline: 0; }

input:focus {
  outline: 0;
  border: 1px solid #04A4CC; }

/*------------------------------------*\
    NIVEAUX DE TITRE
\*------------------------------------*/
.main h1, .sidebar h3 {
  color: #f2473f;
  font-size: 1.2em;
  text-transform: uppercase;
  border-bottom: 1px solid #bababa;
  margin: 0 0 20px 0; }

.footer h5 {
  font-size: 1.2em;
  margin: 20px 0 10px 0;
  font-weight: normal; }

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
.col_quart {
  width: 240px;
  float: left; }

.col_tier {
  width: 320px;
  float: left; }

.col_2tiers {
  width: 640px;
  float: left; }

.col_moitie {
  width: 480px;
  float: left; }

.col_3quart {
  width: 720px;
  float: left; }

.row {
  margin: 0 auto;
  width: 960px; }

/* header */
/* logo */
.logo {
  display: inline-block;
  width: 200px;
  margin: 20px 0; }

#connection {
  display: inline-block;
  background: black;
  float: right;
  vertical-align: top;
  border-radius: 0 0 10px 10px;
  color: white;
  padding: 5px 10px;
  font-size: 0.9em; }
.connexion {
  color: #fff;
  text-decoration: none; } 
.connexion:hover {
  color: #ef4d3a; }

/* nav */
.nav {
  background: black;
  font-size: 1.2em; }
  .nav ul {
    margin: 0;
    padding: 0; }
  .nav li, .nav a {
    color: white;
    padding: 8px 0; }
  .nav li:hover, .nav a:hover {
  	color: #ef4d3a; }
  .current-menu-item {
    padding: 8px 0;
    border-bottom: 3px solid #ef4d3a; }
  .current-menu-item a:hover {
    color: white !important; }
  .nav .menu-item {
    display: inline-block;
    margin-right: 30px; }
  .nav .menu {
    margin-right: 250px; }
  .nav .search {
    float: right;
    vertical-align: top;
    width: 250px;
    font-size: 0.8em;
    text-align: right;
    margin: 5px 0; }
    .nav .search .search-input {
      background: #222222;
      border: 1px solid #646464;
      border-radius: 5px 0 0 5px;
      color: white;
      height: 25px;
      margin-top: 2px;
      width: 120px;
      padding-left: 8px; }
    .nav .search .search-submit {
      border: 1px solid #646464;
      border-radius: 0 5px 5px 0;
      background: #f2473f;
      color: white;
      height: 29px;
      margin-top: 2px; }
    .nav .search .search-submit:hover {
      background: #e6e6e6;
      color: #333; }

/* Fil d'Ariane */
.filAriane {
  margin: 5px 0;
  font-size: 0.8em; }
  .filAriane a {
    color: #f2473f; }

/*NIVO SLIDER*/

.rs-wrap
{
  background: black;
  margin-bottom: 20px; 
}
.rs-slider 
{
  padding : 0;
}
.rs-slider li img
{
  margin: auto;
}

.rs-thumb-wrap
{
  margin: 0 5px;
}

.rs-thumb-wrap a img {
    border: 2px solid #222; }
  .rs-thumb-wrap a img:hover {
    border: 2px solid #e6e6e6; }
  .rs-thumb-wrap a.active {
    display: inline-block;
    padding-top: 8px;
    background: url("../img/flecheSlider.png") no-repeat center top; }
    .rs-thumb-wrap a.active img {
      border: 2px solid #f2473f; }
 /* .nivo-caption {
    bottom: 70px;
    left: 240px;
    background: rgba(0, 0, 0, 0.7);
    display: inline;
    text-transform: uppercase;
    color: #ef4d3a; 
    font-weight: bold;
    width: 960px;
    position: relative; }*/

/*.slider-wrapper {
  background: black;
  margin-bottom: 20px; }

.nivo-controlNav .nivo-control {
  margin: 0 5px; }
  .nivo-controlNav .nivo-control img {
    border: 2px solid #222; }
  .nivo-controlNav .nivo-control img:hover {
  	border: 2px solid #e6e6e6; }
  .nivo-controlNav .nivo-control.active {
    display: inline-block;
    padding-top: 8px;
    background: url("../img/flecheSlider.png") no-repeat center top; }
    .nivo-controlNav .nivo-control.active img {
      border: 2px solid #f2473f; }
  .nivo-caption {
  	bottom: 70px;
  	left: 240px;
  	background: rgba(0, 0, 0, 0.7);
  	display: inline;
  	text-transform: uppercase;
  	color: #ef4d3a; 
  	font-weight: bold;
  	width: 960px;
  	position: relative; }*/

.pagination {
  text-align: center;
  margin: 20px 0; }
  .pagination .page-numbers {
    padding: 2px 6px; }
  .pagination .page-numbers:hover {
  	text-decoration: underline;
  	color: #000; }
    .pagination .page-numbers.current, .pagination .page-numbers.next, .pagination .page-numbers.prev {
      background: #f2473f;
      color: white;
      text-decoration: none; }

/* sidebar */
.sidebar {
  vertical-align: top; }
  .sidebar .sidebar-widget {
    padding-left: 20px; }
.sidebar-widget ul {
	list-style: none;
	padding: 0; }
.sidebar-widget li .bbp-forum-title {
	font-weight: bold;
	color: #333;
	font-size: 0.938em; }
.sidebar-widget li .bbp-forum-title:hover {
	color: #f2473f; }
.sidebar-widget #live_embed_player_flash {
	border: 3px solid #fff; 
	box-shadow: 1px 1px 4px #c0c0c0; }

/* footer */
.footer {
  font-family: arial, sans-serif;
  clear: both;
  border-top: 2px solid #f2473f;
  background: black;
  color: white;
  min-height: 300px;
  margin-bottom: -14px;
  position: relative; }
  .footer a {
    color: #f2473f; }
  .footer .listeArchives {
    list-style: none;
    padding-left: 5px; }
    .footer .listeArchives li a {
      color: white; }
    .footer .listeArchives li a:hover {
	  color: #ef4d3a; }
  .footer .copyright {
	  position: absolute;
	  bottom: 0; }
	  

/*------------------------------------*\
    PAGES
\*------------------------------------*/
/******* HOME PAGE *******/
.home .main .post {
  border-bottom: 1px solid #bababa;
  margin-bottom: 15px;
  padding-bottom: 25px;
  position: relative; }
  .home .main .post .wp-post-image {
    float: left;
    margin-right: 10px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 4px #c0c0c0; }
  .home .main .post .wp-post-image:hover {
  	border: 3px solid #ef4d3a;
  	box-shadow: none; }
  .home .main .post p {
	margin: 0.3em 0 0.8em; }
  .home .main .post h2 {
    font-size: 1.2em;
    margin: 0; }
  .home .main .post h2 a:hover {
  	color: #ef4d3a;}
    .home .main .post h2 .jeu {
      font-style: italic; }
  .home .main .post .date, .home .main .post .author, .home .main .post .category {
    font-size: 0.85em; }
  .home .main .post .author a {
  	font-style: italic;
  	font-weight: 500;
  	color: #222; }
  .home .main .post .author a:hover {
   	color: #ef4d3a; }
  .home .main .post .category a:hover {
  	text-decoration: underline; }
  .home .main .post .comment {
  	margin-top: 7px;
    float: right;
    background: #f2473f; }
    .home .main .post .comment a {
      color: white;
      padding: 5px 8px; }
  .home .main .post .view-article {
    color: #f2473f; }
  .home .main .post .view-article:hover {
	border-bottom: 1px solid #ef4d3a; }
  .home .main .post .post-edit-link {
    font-size: 0.8em;
    position: absolute;
    bottom: 2px;
    right: 30px; }
  .home .main .post .post-edit-link:hover {
    color: #ef4d3a; }
    

/******* PAGE TYPE *******/
.page .sidebar {
  margin-top: 20px; }

.page .image-post-contener {
  text-align: center; }

/******* PAGE ARTICLE *******/
.single .image-post-contener {
  height: 180px;
  overflow: hidden;
  text-align: center; }

/*------------------------------------*\
    IMAGES
\*------------------------------------*/
/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/
@font-face {
  font-family: 'Font-Name';
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"), url("fonts/font-name.woff") format("woff"), url("fonts/font-name.ttf") format("truetype"), url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
/*------------------------------------*\
    MISC
\*------------------------------------*/
::selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

::-webkit-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

::-moz-selection {
  background: #04A4CC;
  color: #FFF;
  text-shadow: none; }

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/
.alignnone {
  margin: 5px 20px 20px 0; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

.aligncenter {
  display: block;
  margin: 5px auto 5px auto; }

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px; }

a img.alignnone {
  margin: 5px 20px 20px 0; }

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0; }

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption {
  background: #FFF;
  border: 1px solid #F0F0F0;
  max-width: 96%;
  padding: 5px 3px 10px;
  text-align: center; }

.wp-caption.alignnone {
  margin: 5px 20px 20px 0; }

.wp-caption.alignleft {
  margin: 5px 20px 20px 0; }

.wp-caption.alignright {
  margin: 5px 0 20px 20px; }

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto; }

.wp-caption .wp-caption-text,
.gallery-caption {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px; }

/*------------------------------------*\
    PRINT
\*------------------------------------*/
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*------------------------------------*\
    FORUM
\*------------------------------------*/

.bbp-template-notice.info {
	display: none;
}

.bbp-template-notice, div.indicator-hint {
	background-color: #fb6d5d !important;
	border-color: #ef4d3a !important;
	color: #fff !important;
}